*.o
src/main.o
src/.deps
src/cholesky/cholesky.o
src/wp/wp.o
src/scripts/__init__.pyc
src/scripts/fabricate.pyc
src/scripts/settings.pyc
src/scripts/utils.pyc
src/tp
tp3/data/
tp1/informe/main.aux
tp1/informe/main.log
tp1/informe/main.out
tp1/informe/main.pdf
tp1/informe/main.toc

